{% extends 'base.html' %}
{% load static widget_tweaks form_tags humanize %}

{% block content %}
    <div class="newsfeed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    {% include 'includes/tweet.html' %}
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    {% if user.is_authenticated %}
                    <div class="simple-box">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Reply</button>
                        </form>
                    </div>
                    <br>
                    {% for comment in tweet.comment.all %}
                        {% include 'includes/comment.html' %}
                    {% endfor %}
                    {% else %}
                    {% if tweet.comment.all.count == 0 %}
                        <p class="page-text">There are no comments yet.</p>
                    {% else %}
                        <p class="page-text">Comments:</p>
                        {% for comment in tweet.comment.all %}
                            {% include 'includes/comment.html' %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endblock %}