{% extends 'base.html' %}
{% load static humanize twitter_tags form_tags widget_tweaks %}

{% block content %}
    <section class="newsfeed">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    {% if user.is_authenticated and request.user == user %}
                        <aside id="leftsidebar" class="sidebar">
                            <div class="simple-box">
                                <ul class="list">
                                    <li>
                                        <div class="user-info">
                                            <div class="image">
                                                <a>
                                                    <img src="{{ user.profile.image.url }}"
                                                         class="img-circle img-responsive" alt="User">
                                                </a>
                                            </div>
                                            <div class="detail">
                                                <h4>{{ user.username }}</h4>
                                                <small>{{ user.email }}</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <small class="text-muted"></small>
                                        <p class="text-center">{{ user.profile.description }}</p>
                                        <hr>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    {% endif %}
                </div><!--/ col-lg-3-->

                <div class="col-lg-6">
                    {% if user.is_authenticated and request.user == user %}
                            <div class="cardbox">
                                <div class="tweet-box">

                                <form method="post" novalidate>
                                    {% csrf_token %}

                                    {% for field in form %}
                                        <div class="form-group" id="form-field">
                                            {{ field.label_tag }}

                                            {% render_field field class="form-control" %}

                                            {% if field.name == 'message' %}
                                                <p class="tweet-text">You have
                                                    <span id="message_symbols_count">{{ form.instance.symbols_left }}</span> symbols left.</p>
                                            {% endif %}

                                            {% if field.help_text %}
                                                <small class="form-text text-muted">
                                                    {{ field.help_text }}
                                                </small>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Post</button>

                                </form>
                                    <br/>
                    </div>
                    </div>
                {% endif %}
                    {% include 'includes/tweets.html' %}
                    {% include 'includes/paginator.html' %}
                </div>

                <!--/ col-lg-6 -->
                <div class="col-lg-3">
                    <div class="trending-box">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if user.profile.following.all.count != 0 %}
                                    <h4>Latest Tweets</h4>
                                {% else %}
                                    <h4>Follow Someone!</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="suggestion-box full-width">
                        <div class="suggestions-list">
                            {% if user.profile.following.all.count != 0 %}
                                <div class="suggestion-body">
                                    {% show_latest_tweets 5 %}
                                </div>
                            {% else %}
                                {% for user in users %}
                                    <div class="suggestion-body">
                                        <img class="img-responsive img-circle" width="30" height="30"
                                             src="{{ user.profile.image.url }}"
                                             alt="User">
                                        <div class="name-box">
                                            <h4>{{ user }}</h4>
                                        </div>
                                        <span><a href="{% url "follow" user.username %}" class="link">Follow!</a></span>
                                    </div>
                                {% endfor %}
                                </div><!--suggestions-list end-->
                                </div>

                                <div class="trending-box">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4>Most Recent Tweets</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="suggestion-box full-width">
                                    <div class="suggestions-list">
                                        <div class="suggestion-body">
                                            {% show_latest_tweets 5 %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                </div>
            </div><!--/ row -->
        </div><!--/ container -->

    </section><!--/ newsfeed -->
{% endblock %}
