{% extends 'base_account.html' %}
{% load form_tags widget_tweaks %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Log in</h3>

                    <form method="post" novalidate>
                        {% csrf_token %}
                         <input type="hidden" name="text" value="{{ next }}">
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    New to Twitter? <a href="{% url 'signup' %}">Create an account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}